#sportsbtn {
    background: linear-gradient(145deg, #0050C1, #2D128C);
    border-radius: 25px;
    color: white;
    box-shadow: 3px, 3px, 10px, 3px, #2D12BC;
    margin-bottom: 100px;
    margin-left: 100px;
    height: 40px;
    width: 250px;
    border: none;
    font-size: 24px;
}
